#footer {
  font-size: 8px;
  border-top: 1px solid black;
  margin-top: 2.5%;
}

@media (max-width: 1024px) and (min-width: 769px) {
  #footer {
    font-size: 0.8rem;
    margin-top: 4vw;
  }
}

@media (max-width: 768px) {
  #footer {
    font-size: 0.6rem;
    margin-top: 6vw;
  }
}
